{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

<style>
    .uk-category a{
        text-decoration: none;
    }

    .uk-panel-title{
        font-size: 22px;
        color: darkgray !important;
    }
</style>

<script>
</script>

{% endblock %}

{% block content %}
    <div class="uk-width-medium-4-5">
        {% for blog in blogs %}
            <article class="uk-article">
                <h2><a target="_blank" href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
                <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
                <p>{{ blog.summary }}</p>
                <p><a target="_blank" href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
            </article>
            <hr class="uk-article-divider">
        {% endfor %}
    </div>

    <div class="uk-width-medium-1-5" style="position: fixed;">
        <div class="uk-panel uk-panel-header">
            <div class="uk-category">
                <a href="/"><h3 class="uk-panel-title">分类</h3></a>
            </div>
            <ul class="uk-list uk-list-line">
                {% for cate in category %}
                    <li>
                        <i class="uk-icon-paperclip"></i>
                        <a href="/category/{{cate.id}}">{{cate.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}